{% extends 'accounts1/main.html' %}
{% load static %}

{% block content %}
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <p>Are you sure you want to delete "{{item}}"</p>
            <form action="{% url 'accounts1:delete_order' item.id%}" method="post">
                {% csrf_token %}
                  <a type="button" class="btn btn-sm btn-warning" href="{% url 'accounts1:home' %}">Cancel</a>
                <button class="btn btn-danger btn-sm" type="submit">Delete</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}